html, body {
    margin: 0;
    padding: 0;
}

#barra-superior {
    background-color: #173F8A;
    color: white;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

#fondo {
    background-color: #f2f4f7;
    height: 95vh;
    width: 100vw;
}

.form-inicio-sesion {
    margin: 0;
    padding: 1vh 1vh 0 0;
}

.texto {
    margin: 0;
}